# Node.js specific files
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# Environment variables
.env

# Editor directories and files
.vscode/
.idea/

# Build output
dist/
build/

# Coverage directory used by tools like istanbul
coverage/

# TypeScript cache
*.tsbuildinfo

# OS-specific files
.DS_Store
Thumbs.db

# Ignore all files with extensions like .swp, .swo (Vim swap files)
*.sw?

# Other
package-lock.json